{#<li><a href="{{ path('category' )}}"> {{ 'Caregoryt' }}</a></li>#}
{#<li><a href="{{ path('project' )}}" > {{ 'Project' }}</a></li>#}
{#<li><a href="{{ path('vadim_guest_index',{ 'id':1 } )}}"> {{ 'GuestBook' }}</a></li>#}
<a class="blog-nav-item active" href="#">Home</a>
<a class="blog-nav-item" href="#">New features</a>
<a class="blog-nav-item" href="#">Press</a>
<a class="blog-nav-item" href="#">New hires</a>
<a class="blog-nav-item" href="#">About</a>